

@model dxniraq2u2018.Models.HomeViewModel

@{


    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_DXNHomeEnglish.cshtml";

}

<!-- Main Slider Section Starts -->
<section class="mainslider" id="mainslider">
    <!-- Slider Hero Starts -->
    <div class="rev_slider_wrapper fullwidthbanner-container dark-slider" data-alias="vimeo-hero" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
        <!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
        <div id="rev_slider" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
            <ul>
                <!-- SLIDE  -->
                <li data-index="rs-18" data-transition="zoomin" data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-thumb="../img/revolution-slider/kenburns/thumb1.jpg" data-rotate="0" data-saveperformance="off" data-title="Ken Burns" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="../img/revolution-slider/kenburns/kenburns1.jpg" data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="180" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-0" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-fontsize="['70','70','70','45']" data-lineheight="['70','70','70','50']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.05" style="z-index: 5; white-space: nowrap;font-weight:600;">
                        Natural Healthy products
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption NotGeneric-SubTitle   tp-resizeme rs-parallaxlevel-0" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['52','52','52','51']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1500" data-responsive_offset="on" style="z-index: 6; white-space: nowrap;">
                        Back to nature
                    </div>
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption NotGeneric-Icon   tp-resizeme rs-parallaxlevel-0" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-68','-68','-68','-68']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-style_hover="cursor:default;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="2000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap;">
                        <i class="pe-7s-refresh"></i>
                    </div>
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['150','97','90','90']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;" data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);" data-transform_in="y:100px;sX:1;sY:1;opacity:0;s:2000;e:Power3.easeInOut;" data-transform_out="y:50px;opacity:0;s:1000;e:Power2.easeInOut;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-responsive="off" style="z-index: 11; white-space: nowrap;text-transform:left;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><a href="#about" class="custom-button slider-button scroll-to-target">المزيد عن فرصة DXN</a></div>
                </li>
                <!-- SLIDE  -->
                <li data-index="rs-2" data-transition="zoomin" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="../img/revolution-slider/kenburns/thumb2.jpg" data-rotate="0" data-fsmasterspeed="300" data-fsslotamount="7" data-saveperformance="off" data-title="Intro" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="../img/revolution-slider/kenburns/kenburns2.jpg" data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="180" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-0" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-fontsize="['70','70','70','45']" data-lineheight="['70','70','70','50']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.05" style="z-index: 5; white-space: nowrap;font-weight:600;">
                        Business opportunity
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption NotGeneric-SubTitle   tp-resizeme rs-parallaxlevel-0" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['52','52','52','51']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap;">
                       One World ... One Market
                    </div>
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption NotGeneric-Icon   tp-resizeme rs-parallaxlevel-0" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-68','-68','-68','-68']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-style_hover="cursor:default;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="2000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap;">
                        <i class="pe-7s-refresh"></i>
                    </div>
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['150','97','90','90']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;" data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);" data-transform_in="y:100px;sX:1;sY:1;opacity:0;s:2000;e:Power3.easeInOut;" data-transform_out="y:50px;opacity:0;s:1000;e:Power2.easeInOut;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-responsive="off" style="z-index: 11; white-space: nowrap;text-transform:left;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><a href="#about" class="custom-button slider-button scroll-to-target">Read more</a></div>
                </li>
                <!-- SLIDE  -->
                <li data-index="rs-3" data-transition="zoomin" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="../img/revolution-slider/kenburns/thumb3.jpg" data-rotate="0" data-fsmasterspeed="300" data-fsslotamount="7" data-saveperformance="off" data-title="Intro" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="../img/revolution-slider/kenburns/kenburns3.jpg" data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="180" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-0" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-fontsize="['70','70','70','45']" data-lineheight="['70','70','70','50']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.05" style="z-index: 5; white-space: nowrap;font-weight:600;">
                       Natural product from Malaysia
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption NotGeneric-SubTitle   tp-resizeme rs-parallaxlevel-0" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['52','52','52','51']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap;">
                        DXN products are available in 13 branches in Iraq
                    </div>
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption NotGeneric-Icon   tp-resizeme rs-parallaxlevel-0" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-68','-68','-68','-68']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-style_hover="cursor:default;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="2000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap;">
                        <i class="pe-7s-refresh"></i>
                    </div>
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['150','97','90','90']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;" data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);" data-transform_in="y:100px;sX:1;sY:1;opacity:0;s:2000;e:Power3.easeInOut;" data-transform_out="y:50px;opacity:0;s:1000;e:Power2.easeInOut;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-responsive="off" style="z-index: 11; white-space: nowrap;text-transform:left;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><a href="#about" class="custom-button slider-button scroll-to-target">Read More</a></div>
                </li>
            </ul>
            <div class="tp-static-layers"></div>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
        </div>
    </div>
    <!-- END REVOLUTION SLIDER -->
    <!-- Slider Hero Ends -->
</section>
<!-- Main Slider Section Ends -->
<!-- About Section Starts -->
<section id="about" class="about">



    <!-- Container Starts -->
    <div class="container">
        <!-- Main Heading Starts -->
        <div class="text-center top-text">
            <h1><span>Company</span> Raed Alkhair</h1>
            <h4>Who we are?</h4>
        </div>
        <!-- Main Heading Ends -->
        <!-- Divider Starts -->
        <div class="divider text-center">
            <span class="outer-line"></span>
            <span class="fa fa-user" aria-hidden="true"></span>
            <span class="outer-line"></span>
        </div>
        <!-- Divider Ends -->
        <!-- About Content Starts -->
        <div class="row about-content">
            <div class="col-sm-12 col-md-12 col-lg-6 about-left-side">
                <h3 class="title-about"> <strong>Official distributor for DXN in Iraq</strong></h3>
                <hr>

                <p>
                    Raed Al Khair is the official and exclusive agent of DXN  in Iraq. 13 branches of the company were opened in various Iraqi cities. A range of services were provided to the company's members in Iraq. </ P>


                    @*<a class="custom-button scroll-to-target" href="#portfolio">اضغط هنا للاطلاع على ابرز المنتجات المتوفرة في العراق</a>*@

                    <h3>Member system</h3>

                <p>
                    A secure electronic system allows members of the company in Iraq to benefit from a range of services, including electronic shopping and follow-up members and provide congratulations and consultations </ p>
                    <a class="custom-button scroll-to-target" href="../Account/Login">Login </a> |  <a class="custom-button scroll-to-target" href="../Account/Register">New Registration </a>


            </div>
            <div class="col-md-12 col-lg-6 about-right-side">
                <div class="full-image-container hovered">
                    <img class="img-fluid d-none d-md-block" src="../img/about.jpg" alt="">
                    <div class="full-image-overlay">
                        <h3>Why <strong>DXN ؟</strong></h3>
                        <ul class="list-why-choose-us">
                            <li> Natural products free from toxins </ li>
                            <li> Back to Nature </ li>
                            <li> Tens of thousands of scientific research </ li>
                            <li> Job opportunities </ li>
                            <li> More than 8 million members worldwide </ li>
                            <li> 25 years old </ li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Content Ends -->
    </div>
    <!-- Container Ends -->
</section>
<!-- About Section Ends -->
<!-- Project Manager Section Starts -->
<section class="projectmanager" id="projectmanager">
    <!-- Section Overlay Starts -->
    <div class="section-overlay">
        <!-- Container Starts -->
        <div class="container">
            <div class="row">
                <!-- Image Starts -->
                <div class="col-md-12 col-lg-12 col-xl-6">
                    <img class="img-fluid projectmanagerpicture" src="../img/projectmanager.jpg" alt="project manager">
                </div>
                <!-- Image Ends -->
                <!-- Details Starts -->
                <div class="col-md-12 col-lg-12 col-xl-6">
                    @*<h1>عالم واحد سوق واحد</h1>*@
                    <h3>One World One Market</h3>

                    <p>
                        The DXN family works to achieve this ambition through a multi-level marketing strategy by providing unique genoderma-rich products to advance towards better health, financial independence and outstanding personal achievements, thereby promoting a better quality of life.
                    </p>
                    <blockquote>

                        Since the establishment of DXN it follows the concept of "one dragon," illustrated by the agricultural process, harvesting, processing, packing and distribution.
                        This concept has led to DXN's success in the market and its drive to expand its global presence and to compete in global markets.
                    </blockquote>
                    <!-- Social Media Starts -->
                    <div class="social-icons">
                        <ul class="social">
                            <li>
                                <a class="twitter" href="https://twitter.com/dxniraq2u" title="twitter"></a>
                            </li>
                            <li>
                                <a class="facebook" href="https://www.facebook.com/dxniraq2u/" title="facebook"></a>
                            </li>
                            <li>
                                <a class="google" href="#" title="google"></a>
                            </li>
                            <li>
                                <a class="skype" href="#" title="skype"></a>
                            </li>
                            <li>
                                <a class="instagram" href="#" title="instagram"></a>
                            </li>
                            <li>
                                <a class="linkedin" href="#" title="linkedin"></a>
                            </li>
                            <li>
                                <a class="youtube" href="https://www.youtube.com/channel/UC8-HjP25o4XDXOjPU2hydkg/videos" title="youtube"></a>
                            </li>
                        </ul>
                    </div>
                    <!-- Social Media Ends -->
                </div>
            </div>
            <!-- Details Ends -->
        </div>
        <!-- Container Ends -->
    </div>
</section>
<!-- Project Manager Section Ends -->
<!-- Services Section Starts -->
<section id="services" class="services">
    <!-- Container Starts -->
    <div class="container">
        <!-- Main Heading Starts -->
        <div class="text-center top-text">
            <h1><span></span> Services</h1>
            <h4>Company Services in Iraq</h4>
        </div>
        <!-- Main Heading Starts -->
        <!-- Divider Starts -->
        <div class="divider text-center">
            <span class="outer-line"></span>
            <span class="fa fa-cogs" aria-hidden="true"></span>
            <span class="outer-line"></span>
        </div>
        <!-- Divider Ends -->
        <!-- Services Starts -->
        <div class="row services-box">
            <!-- Service Item Starts -->
            <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
                <!-- Service Item Cover Starts -->
                <span class="services-box-item-cover fa fa-leaf" data-headline="Health Products"></span>
                <!-- Service Item Cover Ends -->
                <!-- Service Item Content Starts -->
                <div class="services-box-item-content fa fa-leaf">
                    <h2>
                        Natural products
                    </h2>
                    <p>
                        More than 50 natural health products are now available in the company's branches inside Iraq
                    </p>
                </div>
                <!-- Service Item Content Ends -->
            </div>
            <!-- Service Item Ends -->
            <!-- Service Item Starts -->
            <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
                <!-- Service Item Cover Starts -->
                <span class="services-box-item-cover fa fa-anchor" data-headline="Electronic shopping"></span>
                <!-- Service Item Cover Ends -->
                <!-- Service Item Content Starts -->
                <div class="services-box-item-content fa fa-anchor">
                    <h2>
                        Electronic shopping
                    </h2>
                    <p>
                        Members can download the company's mobile application and shop online
                    </p>
                </div>
                <!-- Service Item Content Ends -->
            </div>
            <!-- Service Item Ends -->
            <!-- Service Item Starts -->
            <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
                <!-- Service Item Cover Starts -->
                <span class="services-box-item-cover fa fa-comments-o" data-headline="Lectures & lessons
"></span>
                <!-- Service Item Cover Ends -->
                <!-- Service Item Content Starts -->
                <div class="services-box-item-content fa fa-comments-o">
                    <h2>
                        Lectures and lessons
                    </h2>
                    <p>
                        Dozens of lectures and training courses are held every month at the headquarters and branches of the company Dahl Iraq. Some courses are also held online
                    </p>
                </div>
                <!-- Service Item Content Ends -->
            </div>
            <!-- Service Item Ends -->
            <!-- Service Item Starts -->
            <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
                <!-- Service Item Cover Starts -->
                <span class="services-box-item-cover fa fa-support" data-headline="Continuous technical support
"></span>
                <!-- Service Item Cover Ends -->
                <div class="services-box-item-content fa fa-support">
                    <h2>
                         Customer support
                    </h2>
                    <p>Customer support available 24 hours to answer questions and queries </p>
                </div>
            </div>
            <!-- Service Item Ends -->
            <!-- Service Item Starts -->
            <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
                <!-- Service Item Cover Starts -->
                <span class="services-box-item-cover fa fa-cogs" data-headline="Tourism trips
"></span>
                <!-- Service Item Cover Ends -->
                <!-- Service Item Content Starts -->
                <div class="services-box-item-content fa fa-cogs">
                    <h2>
                        Tourism trips
                    </h2>
                    <p>
                        The company provides annual tours to active members. The last was a trip to Malaysia to visit the company's factories
                    </p>
                </div>
                <!-- Service Item Content Ends -->
            </div>
            <!-- Service Item Ends -->
            <!-- Service Item Starts -->
            <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
                <!-- Service Item Cover Starts -->
                <span class="services-box-item-cover fa fa-file-pdf-o" data-headline="Business Consultant
"></span>
                <!-- Service Item Cover Ends -->
                <!-- Service Item Content Starts -->
                <div class="services-box-item-content fa fa-file-pdf-o">
                    <h2>
                        Business Consultant
                    </h2>
                    <p>
                        The company provides a special advisor to each active member to guide the member towards the right path to achieve profits and work with the company in one world marketing system and one market
                    </p>
                </div>
                <!-- Service Item Content Ends -->
            </div>
            <!-- Service Item Ends -->
        </div>
        <!-- Services Ends -->
    </div>
</section>
<!-- Services Section Ends -->
<!-- Testimonials Section Starts -->
<section class="testimonials">
    <div class="section-overlay">
        <!-- Container Starts -->
        <div class="container">
            <!-- Main Heading Starts -->
            <div class="text-center top-text">
                <h1><span>مستخدمو </span> المنتجات</h1>
                <h4>Testimonials</h4>
            </div>
            <!-- Main Heading Starts -->
            <!-- Blockquotes Starts -->
            <div id="quote-carousel" class="carousel slide" data-ride="carousel">
                <!-- Wrapper For Sliders Starts -->
                <!-- Indicators Starts -->
                <ol class="carousel-indicators mx-auto">
                    <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                    @*<li data-target="#quote-carousel" data-slide-to="1"></li>
                        <li data-target="#quote-carousel" data-slide-to="2"></li>*@
                </ol>
                <!-- Indicators Ends -->
                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <blockquote>
                            <img class="rounded-circle img-fluid" height="30px" src="https://dxniraq2u.com/images/IMG_0708-a181335745.jpg" alt="client">
                            <p>
                                I achieved financial freedom through DXN and advised young people to work with this company
                            </p>
                            @*<h5>كمال الدوسري</h5>*@
                            <h6>Kamal Aldosary</h6>
                        </blockquote>
                    </div>


                    @*@foreach (var Item in Model.Testimonial)
                            {
                                        <div class="carousel-item">
                                            <blockquote>
                                                <img width="150px" class="rounded-circle img-fluid" height ="100px" src="@Url.Content("~/" + dxniraq2u2018.Properties.Resources.imgFolder + "/" + Item.ApplicationUser.ProfileImage )" alt="@Item.ApplicationUser.ArName">
                                                <p> @Item.Content </p>
                                                <h5>@Item.ApplicationUser.ArName</h5>
                                                <h6>@Item.ApplicationUser.EnName</h6>
                                            </blockquote>
                                        </div>
                        }*@


                </div>
                <!-- Wrapper For Sliders Ends -->
            </div>
            <!-- Blockquotes Ends -->
        </div>
        <!-- Container Ends -->
    </div>
</section>
<!-- Testimonials Section Ends -->
<!-- Portfolio Section Starts -->
<section id="portfolio" class="portfolio">
    <!-- Container Starts -->
    <div class="container">
        <!-- Main Heading Starts -->
        <div class="text-center top-text">
            <h1><span></span> Products</h1>
            <h4>
                Models of products available at the company's branches
            </h4>
        </div>
        <!-- Main Heading Starts -->
        <!-- Divider Starts -->
        <div class="divider text-center">
            <span class="outer-line"></span>
            <span class="fa fa-image" aria-hidden="true"></span>
            <span class="outer-line"></span>
        </div>
        <!-- Divider Ends -->
        <!-- Filter Wrapper Starts -->
        <nav>
            <ul class="simplefilter nav nav-pills d-block">
                <!-- Filter Wrapper Items Starts -->
                @*<li class="active" data-filter="all"><i class="fa fa-reorder"></i> جميع  المنتجات</li>
                <li data-filter="1">المكملات الغذائية</li>
                <li data-filter="2">المشروبات الصحية</li>
                <li data-filter="3">العناية الشخصية</li>*@
                <!-- Filter Wrapper Items Ends -->
            </ul>
        </nav>
        <!-- Filter Wrapper Ends -->
        <div>
            <div class="filtr-container">
                @foreach (var item in Model.Product)
                {
                    <div class="col-12 col-sm-6 col-lg-6 col-xl-3 filtr-item" data-category="@item.CategoryProductId">
                        <div class="magnific-popup-gallery">
                            <!-- Thumbnail Starts -->
                            <figure class="thumbnail thumbnail__portfolio">
                                <a class="image-wrap" href="@Url.Content("~/" + dxniraq2u2018.Properties.Resources.imgFolder + "/" + item.Image  )" data-gal="magnific-pop-up[image]" title="@item.ProductNameEnglish">

                                    <img class="img-fluid" src="@Url.Content("~/" + dxniraq2u2018.Properties.Resources.imgFolder + "/" + item.Image)" /><span class="zoom-icon"></span>


                                    <span class="zoom-icon"></span>
                                </a>



                            </figure>
                            <!-- Thumbnail Ends -->
                            <!-- Caption Starts -->
                            <div class="caption">
                                <h3>@item.ProductNameArabic</h3>
                                <p>@item.ProductNameEnglish  </p>
                            </div>
                            <!-- Caption Ends -->
                        </div>
                    </div>
                }



               
    </div>
    <!-- Container Ends -->
</section>

<!-- Portfolio Section Ends -->
<!-- Facts Section Starts -->
<section class="facts">
    <div class="section-overlay">
        <!-- Container Starts -->
        <div class="container">
            <!-- Main Heading Starts -->
            <div class="text-center top-text">
                <h1><span></span> Statistics</h1>
                <h4></h4>
            </div>
            <!-- Main Heading Starts -->
            <!-- Fact Badges Starts -->
            <div class="fact-badges">
                <div class="row">
                    <!-- Fact Badge Item Starts -->
                    <div class="col-md-3 col-sm-6">
                        <i class="fa fa-briefcase"></i>
                        <h2>
                            <span><strong class="badges-counter">18K members in Iraq</strong>+</span>
                        </h2>
                        @*<h4>عضو في العراق</h4>*@
                    </div>
                    <!-- Fact Badge Item Ends -->
                    <!-- Fact Badge Item Starts -->
                    <div class="col-md-3 col-sm-6">
                        <i class="fa fa-clock-o"></i>
                        <h2>
                            <span><strong class="badges-counter">80</strong>+</span>
                        </h2>
                        <h4>DXN Products</h4>
                    </div>
                    <!-- Fact Badge Item Ends -->
                    <!-- Fact Badge Item Starts -->
                    <div class="col-md-3 col-sm-6">
                        <i class="fa fa-home"></i>
                        <h2>
                            <span><strong class="badges-counter">9</strong>+</span>
                        </h2>
                        <h4>Branches</h4>
                    </div>
                    <!-- Fact Badge Item Ends -->
                    <!-- Fact Badge Item Starts -->
                    <div class="col-md-3 col-sm-6">
                        <i class="fa fa-user"></i>
                        <h2>
                            <span><strong class="badges-counter">$70K </strong>+</span>
                        </h2>
                        <h4>
                            Monthly profits
                        </h4>
                    </div>
                    <!-- Fact Badge Item Ends -->
                </div>
            </div>
            <!-- Fact Badges Ends -->
        </div>
        <!-- Container Ends -->
    </div>
</section>
<!-- facts Section Ends -->
<!-- Team Section Starts -->

<section id="team" class="team">
    <!-- Container Starts -->
    <div class="container">
        <!-- Main Heading Starts -->
        <div class="text-center top-text">
            <h1><span>Members</span> Iraq</h1>
            <h4>Know more about DXN members</h4>
        </div>
        <!-- Main Heading Ends -->
        <!-- Divider Starts -->
        <div class="divider text-center">
            <span class="outer-line"></span>
            <span class="fa fa-users" aria-hidden="true"></span>
            <span class="outer-line"></span>
        </div>
        <!-- Divider Ends -->
        <!-- Team Members Starts -->
        <div class="row team-members magnific-popup-gallery">

            @foreach (var Item in Model.ApplicationUser)
            {
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="team-member">
                        <!-- Team Member Picture Starts -->
                        <a title="@Item.EnName" href="@Url.Content("~/" + dxniraq2u2018.Properties.Resources.imgFolder + "/" + Item.ProfileImage)" data-gal="magnific-pop-up[team]" class="team-member-img-wrap"><img src="@Url.Content("~/" + dxniraq2u2018.Properties.Resources.imgFolder + "/" + Item.ProfileImage)" height="100" alt="@Item.EnName"></a>
                        <!-- Team Member Picture Ends -->
                        <!-- Team Member Details Starts -->
                        <div class="team-member-caption social-icons">
                            <h4>@Item.ArName</h4>
                            <p>@Item.City.ArCityName</p>
                            @*<ul class="list list-inline social">
                                    <li>
                                        <a href="#" class="fa fa-facebook"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fa fa-twitter"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fa fa-google-plus"></a>
                                    </li>
                                </ul>*@
                        </div>
                        <!-- Team Member Details Ends -->
                    </div>
                </div>
            }
        </div>
        <!-- Team Members Ends -->
    </div>
    <!-- Container Ends -->
</section>

<!-- Team Section Ends -->
<!-- Newsletter Section Starts -->
<section class="newsletter">
    <div class="section-overlay">
        <!-- Container Starts -->
        <div class="container">
            <!-- Main Heading Starts -->
            <div class="text-center top-text">
                <h1><span>Mailing</span> List</h1>
                <h4>Register to get latest news</h4>
            </div>
            <!-- Main Heading Ends -->
            <div class="newsletter-content">
                <p class="text-center">
                    Register here to receive emails
                    <br> For special offers and prices as well as the latest news directly to your email inbox

                </p>
                <!-- Newsletter Form Starts -->
                <form class="form-inputs">
                    <!-- Newsletter Form Input Field Starts -->
                    <div class="col-md-12 form-group custom-form-group p-0">
                        <span class="input custom-input">
                            <input placeholder="Enter Email address" class="input-field custom-input-field" type="text" />
                            <label class="input-label custom-input-label">
                                <i class="fa fa-envelope-open-o icon icon-field"></i>
                            </label>
                        </span>
                    </div>
                    <!-- Newsletter Form Input Field Ends -->
                    <!-- Newsletter Form Submit Button Starts -->
                    <button id="submit" name="submit" type="submit" class="custom-button" title="Send">Register</button>
                    <!-- Newsletter Form Submit Button Ends -->
                </form>
                <!-- Newsletter Form Ends -->
            </div>
        </div>
        <!-- Container Ends -->
    </div>
</section>
<!-- Newsletter Section Ends -->
<!-- Blog Section Starts -->
<section id="blog" class="blog">
    <!-- Container Starts -->
    <div class="container">
        <!-- Main Heading Starts -->
        <div class="text-center top-text">
            <h1><span>Blog</span> </h1>
            <h4>Latest articles</h4>
        </div>
        <!-- Main Heading Starts -->
        <!-- Divider Starts -->
        <div class="divider text-center">
            <span class="outer-line"></span>
            <span class="fa fa-comments" aria-hidden="true"></span>
            <span class="outer-line"></span>
        </div>
        <!-- Divider Ends -->
        <!-- Latest Blog Posts Starts -->
        <div class="row blog-content">
            <!-- Article Starts -->

            @foreach (var item in Model.BlogPost)
            {
                <article class="col-lg-4 col-md-12">
                    <!-- Figure Starts -->
                    <figure class="blog-figure">

                        <a asp-controller="BlogPosts" asp-action="Details" asp-route-id="@item.Id">

                            @Html.DisplayFor(modelItem => item.Title)

                            @*<img class="img-fluid" src="../img/blog/blog-post-1-thumb.jpg" alt="">*@
                            <img height="200" class="img-fluid" src="@Url.Content("~/" + dxniraq2u2018.Properties.Resources.imgFolder + "/" + item.Image)" />
                        </a>
                    </figure>
                    <!-- Figure Ends -->
                    <!-- Excerpt Starts -->
                    <div class="blog-excerpt">
                        <a asp-controller="BlogPosts" asp-action="Details" asp-route-id="@item.Id"><h3>@item.Title</h3></a>
                        @*<p>@item.Introduction  </p>*@
                        <div class="meta">
                            <span class="date"><i class="fa fa-calendar"></i>@item.Date.ToString("dd MMM yyyy")</span>
                            @*<span><a href="blog-post-rtl.html"><i class="fa fa-commenting"></i> 18</a></span>*@
                            <a asp-controller="BlogPosts" class="pull-left" asp-action="Details" asp-route-id="@item.Id">More</a>

                        </div>
                    </div>
                    <!-- Excerpt Ends -->
                </article>}


            <div class="mx-auto">
                <a class="custom-button" href="../BlogPosts/PostsLists/5">All Articles</a>
            </div>
        </div>
        <!-- Latest Blog Posts Ends -->
    </div>
</section>
<!-- Blog Section Ends -->
<!-- Video Section Starts -->
<section class="videopromotion">
    <div class="section-overlay">
        <!-- Container Starts -->
        <div class="container">
            <!-- Main Heading Starts -->
            <div class="text-center top-text">
                <h1><span>Introductory Video</span> DXN</h1>
                <h4>DXN Company profile</h4>
            </div>
            <!-- Main Heading Ends -->
            <div class="video-content">
                <!--<p class="text-center">نحن نقدم خدمات لحرفائنا بمميّزات هامة و أسعار رائعة<br> لاتتردّد في مشاهدة الفبديو</p>-->
                <!-- Video Play Starts -->
                <div class="magnific-popup-gallery">
                    <div class="btn-wrapper text-center"><a class="image-wrap mfp-youtube" href="https://www.youtube.com/watch?v=jHTTlD399zw"></a></div>
                </div>
                <!-- Video Play Ends -->
            </div>
        </div>
        <!-- Container Ends -->
    </div>
</section>
<!-- Video Section Ends -->
<!-- Contact Section Starts -->
<section id="contact" class="contact">
    <!-- Container Starts -->
    <div class="container">
        <!-- Main Heading Starts -->
        <div class="text-center top-text">
            <h1><span>Contact</span> Us</h1>
            <h4>We are happy to serve you</h4>
        </div>
        <!-- Main Heading Starts -->
        <!-- Divider Starts -->
        <div class="divider text-center">
            <span class="outer-line"></span>
            <span class="fa fa-envelope" aria-hidden="true"></span>
            <span class="outer-line"></span>
        </div>
        <!-- Divider Ends -->
    </div>
    <!-- Container Ends -->
    <!-- Map Section Starts -->
    <div class="info-map">
        <div class="google-map">
            <div class="gmap_container">
                <div id="gmap_canvas"></div>
            </div>
        </div>
    </div>
    <!-- Info Map Boxes Starts -->
    <div class="container">
        <div class="row info-map-boxes">
            <!-- Left Info Map Box Starts -->
            <div class="col-md-6 col-sm-12">
                <div class="info-map-boxes-item fa fa-clock-o">
                    <h1>Working hours</h1>
                    <p>
                        Monday - Friday : 08:00 - 18:00
                        <br>Friday - Saturday : 08:00 - 12:30
                        <br>Sunday - Closed
                    </p>
                </div>
            </div>
            <!-- Left Info Map Box Ends -->
            <!-- Right Info Map Box Starts -->
            <div class="col-md-6 col-sm-12">
                <div class="info-map-boxes-item fa fa-phone">
                    <h1>Customer support</h1>
                    <p>
                        Mobile: 07722699330
                        <br> 07722699331
                        <br><a href="#">info@dxniraq2u.com</a>
                    </p>
                </div>
            </div>
            <!-- Right Info Map Box Ends -->
        </div>
    </div>
    <!-- Info Map Boxes Ends -->
</section>
<!-- Contact Section Ends -->
<!-- Contact Form Section Starts -->
<section class="contactform">
    <div class="section-overlay">
        <div class="container">
            <!-- Main Heading Starts -->
            <div class="text-center top-text">
                <h1><span>Contact us through</span> Email address</h1>
                <h4>We will answer you soon</h4>
            </div>
            <!-- Main Heading Ends -->
            <div class="form-container">
                <!-- Contact Form Starts -->
                <form class="formcontact" method="post" action="php/process-form.php">
                    <div class="row form-inputs">
                        <!-- First Name Field Starts -->
                        <div class="col-md-6 form-group custom-form-group">
                            <span class="input custom-input">
                                <input placeholder="First Name" class="input-field custom-input-field" id="firstname" name="firstname" type="text" required data-error="NEW ERROR MESSAGE">
                                <label class="input-label custom-input-label">
                                    <i class="fa fa-user icon icon-field"></i>
                                </label>
                            </span>
                        </div>
                        <!-- First Name Field Ends -->
                        <!-- Last Name Field Starts -->
                        <div class="col-md-6 form-group custom-form-group">
                            <span class="input custom-input">
                                <input placeholder="Last Name" class="input-field custom-input-field" id="lastname" name="lastname" type="text" required>
                                <label class="input-label custom-input-label">
                                    <i class="fa fa-user-o icon icon-field"></i>
                                </label>
                            </span>
                        </div>
                        <!-- Last Name Field Ends -->
                        <!-- Message Field Starts -->
                        <div class="form-group custom-form-group col-md-12">
                            <textarea placeholder="Message" id="message" name="message" cols="45" rows="7" required></textarea>
                        </div>
                        <!-- Message Field Ends -->
                        <!-- Email Name Field Starts -->
                        <div class="col-md-6 form-group custom-form-group">
                            <span class="input custom-input">
                                <input placeholder="Email address" class="input-field custom-input-field" id="email" name="email" type="text" required>
                                <label class="input-label custom-input-label">
                                    <i class="fa fa-envelope icon icon-field"></i>
                                </label>
                            </span>
                        </div>
                        <!-- Email Name Field Ends -->
                        <!-- Submit Button Starts -->
                        <div class="col-md-6 submit-form">
                            <button id="form-submit" name="submit" type="submit" class="custom-button" title="Send">Send</button>
                        </div>
                        <!-- Submit Button Ends -->
                        <!-- Form Submit Message Starts -->
                        <div class="col-sm-12 text-center output_message_holder d-none">
                            <p class="output_message"></p>
                        </div>
                        <!-- Form Submit Message Ends -->
                    </div>
                </form>
                <!-- Contact Form Ends -->
            </div>
        </div>
    </div>
</section>
<!-- Contact Form Section Ends -->
<!-- Logos Section Starts -->
<section class="logos">
    <div class="container">
        <ul class="bxslider" id="bxslider">
            <!-- Logos Items Starts -->
            <li><img src="../img/logos-slider/3docean-light-background.png" alt="3docean"></li>
            <li><img src="../img/logos-slider/activeden-light-background.png" alt="activeden"></li>
            <li><img src="../img/logos-slider/audiojungle-light-background.png" alt="audiojungle"></li>
            <li><img src="../img/logos-slider/codecanyon-light-background.png" alt="codecanyon"></li>
            <li><img src="../img/logos-slider/graphicriver-light-background.png" alt="graphicriver"></li>
            @*<li><img src="../img/logos-slider/photodune-light-background.png" alt="photodune"></li>*@
            <li><img src="../img/logos-slider/themeforest-light-background.png" alt="themeforest"></li>
            <!-- Logos Items Ends -->
        </ul>
    </div>
</section>
<!-- Logos Section Ends -->
