@model dxniraq2u2018.Models.GalleryImage

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GalleryImage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model._thumb)
        </dt>
        <dd>
            @Html.DisplayFor(model => model._thumb)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gallery)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gallery.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-controller="Galleries" asp-action="Index">العودة الى القائمة الرئيسية</a>
    </form>
</div>
