@model IEnumerable<dxniraq2u2018.Models.BlogCategory>

@{
    ViewData["Title"] = "Index";
}

<h2>الاقسام الفرعية</h2>

<p>
    <a asp-action="Create">انشاء قسم فرعي جديد</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogSection)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlogSection.Name)
            </td>

           
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">تحرير</a> |

                <a asp-action="Delete" asp-route-id="@item.Id">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
