@model dxniraq2u2018.Models.Community

@{
    ViewData["Title"] = "Delete";
}

<h2>حذف المدونة</h2>

<h3>سيتم حذف المدونة الشخصية وجميع مواضيع المدونة بشكل نهائي. هل انت موافق؟</h3>
<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShortName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShortName)
        </dd>
     
      
        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
       
  
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف المدونة بشكل نهائي" class="btn btn-default" />
      
    </form>
</div>
