@model dxniraq2u2018.Models.Lecture
@using dxniraq2u2018.Models;
@{
    ViewData["Title"] = "ادارة الدورات والمحاضرات";
}



<h2>اضافة دورة</h2>


<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                @Html.TextAreaFor(model => model.Content, new { rows = 10, cols = 50 })
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" value="@ViewData["CurrentDate"]" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstructorId" class="control-label"></label>
                @*<input asp-for="InstructorId" class="form-control" />*@
                <select asp-for="InstructorId" class="form-control" asp-items="ViewBag.InstructorId"></select>

                <span asp-validation-for="InstructorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BranchId" class="control-label"></label>
                <select asp-for="BranchId" class="form-control" asp-items="ViewBag.BranchId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Seats" class="control-label"></label>
                <input asp-for="Seats" class="form-control" />
                <span asp-validation-for="Seats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsOpen" /> @Html.DisplayNameFor(model => model.IsOpen)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="LevelType" class="control-label"></label>
                @*<select asp-for="LevelType" class="form-control" asp-items="ViewBag.LevelType"></select>*@

                <select asp-for="LevelType" class="form-control">
                    <option value="1">مبتدأ</option>
                    <option value="2">متوسط</option>
                    <option value="3">متقدم</option>

                </select>


                <span asp-validation-for="LevelType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsOnline" /> @Html.DisplayNameFor(model => model.IsOnline)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsAdminApproved" /> @Html.DisplayNameFor(model => model.IsAdminApproved)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        tinymce.init({
            selector: 'textarea',


            directionality: 'rtl',
            //language: 'ar_SA',
            plugins: "link,image,media,table",

            //menubar: "insert",
            toolbar: "link,image,media,table",
            relative_urls: false,
            remove_script_host: false,
            convert_urls: true,

            mode: "textareas",

            //plugins: "table,contextmenu,paste,-externalplugin"

        });</script>

}
