@model dxniraq2u2018.Models.PostComment

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>PostComment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd>
            @Html.Raw(Model.Comment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsHidden)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsHidden)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsFeatured)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsFeatured)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Post)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Post.Body)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
